.main_chat
  .main_header
    .main_header__left-box
      .main_header__left-box__current-group
        = @group.name
      .main_header__left-box__member-list
        Member：
        .main_header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    .main_header__edit-btn 
      = link_to  edit_group_path(@group.id) do
        = "Edit"
  
  .messages
    = render @messages
    .message
      .message__upper
        .message__upper__name
        .message__upper__date
      .message__bottom
  
  .form
    .form__new
      = form_for [@group, @message] do |f|
        .form__new__message
          = f.text_field :content, class: 'form__new__message__text', placeholder: 'type a message'
          .form__new__message__image
            = f.label :image, class: 'form__new__message__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__new__send'
